Exercise_2/src/main/mule/exercise_2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e38e1350-b240-46ba-9445-7daecf695da7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="63381690-b614-4e6f-999d-8a22fa5f1eaf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1998" database="integration_practice"/>
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="f17304a1-1eae-43a2-a727-2fe61a5ecd1a" >
		<salesforce:basic-connection username="saimmunir648@gmail.com" password="im.saim.munir.532" securityToken="LPC6RvbI8zoSbRpOyp8EszfK" url="https://login.salesforce.com/services/Soap/u/61.0" />
	</salesforce:sfdc-config>
	<flow name="exercise_2Flow" doc:id="40965834-8203-4fe4-a527-a837d7b1cd5a" >
		<http:listener doc:name="Listener" doc:id="eb8c48f8-7685-4436-a0d3-a486017a9f21" config-ref="HTTP_Listener_config" path="/exercise2"/>
		<db:select doc:name="Select" doc:id="41680958-eda4-471b-9eb3-445d815823e0" config-ref="Database_Config" target="dbData">
			<db:sql ><![CDATA[SELECT * FROM customers]]></db:sql>
			<db:parameter-types />
		</db:select>
		<db:insert doc:name="Insert" doc:id="e3e1dc66-2c56-4a63-978e-8c669f7bc444" target="dbInsertData" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customers (first_name, last_name, email, phone, city) VALUES (:fname, :lname, :email, :phone, :city)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    fname: "Muhammad",
    lname: "Nouman",
    email: "mnoumanjaved2004@gmail.com",
    phone: "1223-1238394",
    city: "Okara"
}]]]></db:input-parameters>
		</db:insert>
		<salesforce:query doc:name="Query" doc:id="d835495d-5d3b-4a27-9960-ac1c25a66b08" config-ref="Salesforce_Config" target="sfQueryData">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, Name FROM Account LIMIT 5]]></salesforce:salesforce-query>
		</salesforce:query>
		<salesforce:create type="Account" doc:name="Create" doc:id="74f190cc-0938-4889-9212-7d7940ee368c" config-ref="Salesforce_Config" target="sfCreateResult">
			<salesforce:records ><![CDATA[#[%dw 2.0
output application/java
---
[{
    Name: "Exercise 02 Account",
    Phone: "123-456-7890",
    Industry: "Technology"
}]]]]></salesforce:records>
		</salesforce:create>
		<logger level="INFO" doc:name="Logger" doc:id="a094287c-0b58-47d2-a326-9e0ca1a204f1" message='Created Salesforce record: #[vars.sfCreateResult]'/>
		<set-payload value='#[vars.dbData]' doc:name="Set Payload" doc:id="f452ad19-e0b6-47af-bff1-23bf45e9794d" mimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="a23f0377-d6cf-4dd9-bc99-ace9c628740e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
db: vars.dbData,
sf: vars.sfQueryData,
new_account_id: vars.sfCreateResult.items[0].payload.id,
was_it_successful: vars.sfCreateResult.items[0].payload.success,
//dbI:vars.dbInsertData
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
