Exercise_04/src/main/mule/exercise_4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1f402e8e-da85-4047-b9c4-bf954515fadb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="2eef905b-3367-48b4-9470-d1a95466d58f" >
		<salesforce:basic-connection username="saimmunir648@gmail.com" password="im.saim.munir.532" securityToken="LPC6RvbI8zoSbRpOyp8EszfK" url="https://login.salesforce.com/services/Soap/u/60.0" />
	</salesforce:sfdc-config>
	<flow name="querySalesforce" doc:id="4a1002f6-4274-4a26-8b14-8dfb734a4cd3" >
		<http:listener doc:name="Listener" doc:id="70bad0e2-ce76-4640-a9a0-871af89adff8" config-ref="HTTP_Listener_config" path="/e4SfQuery" allowedMethods="GET"/>
		<salesforce:query doc:name="Query" doc:id="7bfca08e-a411-46ab-acd0-23db5170d659" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, BillingCity, Phone, Industry FROM Account WHERE Id = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="bf3136cc-6710-46c2-84bd-f0d0b54ad296">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    account_name: item.Name,
    location: item.BillingCity default "N/A",
    phone_number: item.Phone default "No Phone",
    sf_id: item.Id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCreatSf" doc:id="438ef42d-3f00-4df7-a372-f62409ac401e" >
		<http:listener doc:name="Listener" doc:id="037c2efa-5533-4cc5-bb5d-a641a1391ac6" config-ref="HTTP_Listener_config" path="/e4CreateSf" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="d3dea74a-22f7-4b3a-94f5-577c4f5218be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
    Name: payload.name,
    BillingCity: payload.city,
    Phone: payload.phone,
    Industry: payload.industry default "Technology",
    site: payload.site,
    Type: payload.tpe
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Account" doc:name="Create" doc:id="9f5bff9c-285e-4ecf-a953-cc226ed74ac2" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="838447a8-a018-4460-9c76-7d69583034bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UpdateSf" doc:id="7caa8525-6ea0-4144-b333-3bc0980fe583" >
		<http:listener doc:name="Listener" doc:id="c6859191-8061-4fa9-a90f-26292015c51f" config-ref="HTTP_Listener_config" path="/e4UpdateSf" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="eeff1acc-5605-47e2-8ce0-d704b4999a61">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
    Id: attributes.queryParams.Id, // THE MOST IMPORTANT FIELD
    Phone: payload.new_phone,
    Description: "Updated via MuleSoft by Nouman on " ++ (now() as String {format: "yyyy-MM-dd"})
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Account" doc:name="Update" doc:id="05142ad8-7a69-41c9-9a3d-5377301325de" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5b8e78e6-2994-4624-bc0e-fb305e8c4db8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    // We add 'default false' so if success is null, it becomes false
    "status": if (payload[0].success default false) "Update Successful" else "Update Failed",
    "record_id": payload[0].id,
    "errors": payload[0].errors.message default []
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="upsertSf" doc:id="2d28ad39-5e62-4c1c-bdc0-f66ec2e0bb0e" >
		<http:listener doc:name="Listener" doc:id="e4d280e1-0c83-4e81-8c07-e0b43f75bde4" config-ref="HTTP_Listener_config" path="/e4UpsertSf" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="86923df6-ff8d-4433-b7ac-68c15e428831" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
    // If id is in URL, use it. If not, this stays null and Salesforce INSERTS.
//    Id: attributes.queryParams.id, 
    Id: payload.Id,
    Name: payload.name,
    BillingCity: payload.city,
    Phone: payload.phone,
    Industry: "Technology",
    Description: "Upserted by Nouman's App"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<salesforce:upsert 
    objectType="Account" 
    externalIdFieldName="Id" 
    config-ref="Salesforce_Config">
    <salesforce:records>#[payload]</salesforce:records>
</salesforce:upsert>
		<logger level="INFO" doc:name="Logger" doc:id="66eeb873-5f23-4d39-950d-0cfe3917d3b0" message="PAYLOAD SENT TO SF: #[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="59038926-c50b-4ebf-9a5b-99ec49304e45" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
//    // We use payload[0] if it's a list, or just payload if it's one object
//    "success": payload.successful,
//    "Id": payload.id default payload[0].id,
//    "errors": (payload.errors default payload[0].errors) default []

"dataId": payload[0]
}
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteSF" doc:id="35073253-da6d-49d2-b801-0cea9bcab5fe" >
		<http:listener doc:name="Listener" doc:id="2cbf5af6-67ff-4874-b58e-b3864396be30" config-ref="HTTP_Listener_config" path="/e4DeleteSf" allowedMethods="DELETE"/>
		<ee:transform doc:name="Transform Message" doc:id="ea641682-dd17-4d6a-ad54-d4cf6ff3f473" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload.Id]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="0e921225-3d09-427d-a014-7c30702a86a6" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="2c34e865-7747-4c80-91bc-27706d70163f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{   
"sucess":payload.successful,
 "id": payload.id,
 "data": payload.items
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
